astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.3
certifi==2022.12.7
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
Flask==2.0.1
idna==3.2
isort==5.7.0
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
pep8==1.7.1
Pillow==8.3.2
pycodestyle==2.6.0
pyjokes==0.6.0
PyJWT==1.7.1
pylint==2.6.0
PyPDF2==1.26.0
pytz==2021.1
requests==2.26.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
twilio==6.62.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
